<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDDimxOTH6uxCm5ilNB2AGfxgTk86X8gKs</string>
	<key>GCM_SENDER_ID</key>
	<string>216383370849</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blocproject</string>
	<key>PROJECT_ID</key>
	<string>chat-app-9eb75</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-9eb75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216383370849:ios:e208499f6b827cb73a5c20</string>
</dict>
</plist>